html, body {
    min-height: 100%;
}

body {
    background-color: #f7f7fb;
}

.submit-consent {
    width: 45%;
    float: right;
    height: 40px;
    font-size: 18px;
    border-color: #cccccc;
    margin-right: 3%;
}

.cancel-consent {
    width: 45%;
    height: 40px;
    font-size: 18px;
    color: black;
    background-color: #cccccc;
    border-color: #cccccc;
    float: left;
    margin-left: 3%;
}

.card-consent {
    padding: 0;
    border: none;
    box-shadow: 0 4px 30px rgba(0, 0, 0, .05);
    border-radius: 0;
    width: 600px;
    margin: 10% auto 0;
    position: relative;
    /* VARIABLES */
    --color-primary: #0081C6;
    --color-grey: #f9f9f9;
    --color-dark: #000;
    --color-semidark: #9b9b9b;
    --shadow-color: rgba(0, 129, 198, .3);
    --logo-width: 60px;
    --logo-height: 60px;
}


.card-consent .card-body {
    padding: 20px;
}

.card-consent .padding {
    padding: 50px;
    height: 100%;
    position: relative;
}


@media screen and (min-width: 769px) and (max-width: 1023px) {
    .card-consent {
        width: 600px;
    }
}

@media screen and (max-width: 991px) {
    .card-consent {
        width: 400px;
        margin-bottom: 40px;
    }

    .card-consent .row [class^="col-"] {
        min-height: 480px;
    }
}

@media screen and (max-width: 425px) {
    .card-consent {
        width: 100%;
        margin-top: 20px;
    }
}

@media screen and (max-width: 375px) {
    .card-consent .padding {
        padding: 30px;
    }
}
